.BrowsePage {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    
    .Posts {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .Posts {
        min-width: 400px;
    }
}