.Canvas {
    margin-top: 50px;

    .CanvasButtons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .CanvasButton {
            margin: 10px;


            &.Red {
                background-color: rgb(255, 61, 61)
            }
        }
    }
}
